<!DOCTYPE html>
<html ng-app="gameClasesApp">
    <head>
        <script src="/js/dependencies/angular/angular.js"></script>
        <script src="/js/dependencies/jquery/dist/jquery.js"></script>
        <script src="/js/juego/main.js"></script>
        <link rel="stylesheet" href="/js/dependencies/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/comun.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/js/dependencies/bootstrap/dist/css/bootstrap.css">

    </head>
    <body class="listaClases" style="background: none">
        <div class="container-fluid" ng-controller="gameClasesController">
            <div class="text-left" style="margin: auto; padding: 0px">

                <div class="container-fluid">
                    <div class="row">
                        <div >
                            <br>
                            <table class="table table-striped table-hover table" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Clase</th>
                                    <th class="text-center" style="width: 120px">Mapa Central</th>
                                    <th class="text-center" style="width: 100px">Ingresar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="clase in misClases">
                                    </span>
                                    <td>
                                            <span>
                                                {{ clase.nombre}}
                                            </span>
                                    </td>
                                    <td class="text-center">
                                            <span>
                                                {{ clase.mapaCentral.nombre}}
                                            </span>
                                    </td>
                                    <td class="text-center">
                                        <span class="fa fa-sign-in" ng-click="call_travel_by_genericClavLevelEntity(clase)" style="cursor: pointer">
                                        </span>
                                    </td>
                                    </span>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </body>

    <script>

        var app = angular.module('gameClasesApp', []);

        app.controller('gameClasesController',['$scope', function($scope) {

            ///////////////////// DEFINIMOS LAS CLASES DE LA LISTA //////////////////////
            //Clonamos la lista de clases del juego
            $scope.misClases=JSON.parse(JSON.stringify(parent.game.misClases));

            var mapaInstanciaActualID = parent.game.mainPlayer.data.mapa_instancia.id;

            if(parent.me.game.currentLevel.name != 'ciudad'){
                //Quito como destino la clase en la que me encuentro actualmente
                for(var x=0; x< $scope.misClases.length ; x++){
                    var clase =  $scope.misClases[x];

                    if(clase.mapaCentral.id == mapaInstanciaActualID){
                        $scope.misClases.splice(x, 1);
                        break;
                    }
                }
                $scope.misClases.push(
                    {
                        nombre: "Mapa principal",
                        mapaCentral:
                            {
                                nombre: "ciudad"
                            }
                    }
                );
            }
            ///////////////////// FIN DEFINIMOS LAS CLASES DE LA LISTA //////////////////////



            $scope.call_travel_by_genericClavLevelEntity = function (claseToGo) {

                parent.game.claseActualId = claseToGo.id;
                parent.game.mision.cancelar();//Solo para cerrar la ventana de mision


                var data =
                {
                    to:     claseToGo.mapaCentral.nombre,
                    spawn:  "tp_puerto"
                };

                parent.game.travel_by_genericClavLevelEntity(data);

            }
        }]);

    </script>
</html>
