<br>
<br>
<div class="container-fluid">
    <div class="div-form text-left" style="margin: auto;">

        <div class="page-header" align="center" style="margin-top: 0px">
            <b class="titulos">
                Clases Actuales
            </b>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div >
                    <br>
                    <table class="table table-striped table-hover table" style="width: 80%">
                        <thead>
                        <tr>
                            <th>Clase</th>
                            <th class="text-center" style="width: 100px">Institucion</th>
                            <th class="text-center" style="width: 150px">Mapa Central</th>
                            <th class="text-center" style="width: 100px">Profesor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="c in $parent.misClases ">
                            <td >
                              <span>
                                {{ c.nombre}}
                              </span>
                            </td>
                            <td class="text-center">
                              <span >
                                {{ c.institucion.nombre  || ' '}}
                              </span>
                            </td>
                            <td class="text-center">
                              <span >
                                {{ c.mapaCentral.nombre|| ' ' }}
                              </span>
                            </td>
                            <td class="text-center">
                              <span >
                                {{c.profesor.apellido + ' ' + c.profesor.nombre  || ' ' }}
                              </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        <br>
        <br>
        <div class="page-header" align="center" style="margin-top: 0px">
            <b class="titulos">
                Clases en Espera de Confirmación
            </b>
        </div>

        <div>
            <button class="btn btn-default btn-align" ng-click="solicitarClase()">Solicitar Clase</button>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div >
                    <br>
                    <table class="table table-striped table-hover table" style="width: 100%">
                        <thead>
                        <tr>
                            <th>Clase </th>
                            <th class="text-center" style="width: 100px">Institucion</th>
                            <th class="text-center" style="width: 150px">Mapa Central</th>
                            <th class="text-center" style="width: 100px">Profesor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="c in $parent.misClasesSituacionEspera ">
                            <td >
                              <span>
                                {{ c.nombre}}
                              </span>
                            </td>
                            <td class="text-center">
                              <span >
                                {{ c.institucion.nombre  || ' '}}
                              </span>
                            </td>
                            <td class="text-center">
                              <span >
                                {{ c.mapaCentral.nombre|| ' ' }}
                              </span>
                            </td>
                            <td class="text-center">
                              <span >
                                {{c.profesor.apellido + ' ' + c.profesor.nombre  || ' ' }}
                              </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>




    </div>
</div>
