<br>
<br>
<div class="container-fluid">
    <div class="div-form text-left" style="margin: auto;">
        <div class="page-header" align="center" style="margin-top: 0px">

            <b class="titulos">
                Mis Clases
            </b>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div >
                    <br>

                    <table class="table table-striped table-hover table" style="width: 80%">
                        <thead>
                        <tr>
                            <th>Clases </th>
                            <th class="text-center" style="width: 100px">Institucion</th>
                            <th class="text-center" style="width: 180px">Alumnos Actuales</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="c in courses ">
                            <td class="text-center">
                                    <span
                                        class="pointer-primary pointer fa fa-play fa-2x" ng-click="">
                                    </span>
                            </td>
                            <td class="text-center">
                                    <span
                                        class="pointer fa fa-eye fa-2x" ng-click="">
                                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>




        <div class="page-header" align="center" style="margin-top: 0px">

            <b class="titulos">
                Todas las clases
            </b>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div >
                    <br>

                    <table class="table table-striped table-hover table" style="width: 80%">
                        <thead>
                        <tr>
                            <th>Clase</th>
                            <th class="text-center" style="width: 180px">Institucion</th>
                            <th class="text-center" style="width: 180px">Alumnos Actuales</th>
                            <th class="text-center" style="width: 180px">Mapa Central</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="c in todasLasClases ">
                            <td>
                              <span class="courseName"  e-form="rowform" >
                                {{ c.nombre }}
                              </span>
                            </td>
                            <td>
                              <span class="courseName"  e-form="rowform" >
                                {{ c.institucion.nombre }}
                              </span>
                            </td>
                            <td>
                              <span class="courseName"  e-form="rowform" >
                                {{ c.cantidadAlumnos || ' ' }}
                              </span>
                            </td>
                            <td>
                              <span class="courseName"  e-form="rowform" >
                                {{ c.cantidadAlumnos || ' ' }}
                              </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>
</div>


