<br>
<br>
<div class="container-fluid">
    <div class="div-form text-left" style="margin: auto;">
        <div class="page-header" align="center" style="margin-top: 0px">

            <b class="titulos">
                Mis Instituciones
            </b>
        </div>

        <div>
            <button class="btn btn-default btn-align" ng-click="solicitarInstitucion()">Solicitar Institución</button>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div >
                    <br>

                    <table class="table table-striped table-hover table" style="width: 100%">
                        <thead>
                        <tr>
                            <th>Institución</th>
                            <th class="text-center" style="width: 180px">Ciudad</th>
                            <th class="text-center" style="width: 180px">Dirección</th>
                            <th class="text-center" style="width: 180px">Provincia</th>
                            <th class="text-center" style="width: 180px">País</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="institucion in $parent.misInstituciones ">
                            <td >
                              <span>
                                {{ institucion.nombre}}
                              </span>
                            </td>
                            <td class="text-center">
                              <span >
                                {{ institucion.ciudad  || '-'}}
                              </span>
                            </td>
                            <td class="text-center">
                              <span >
                                {{ institucion.direccion || '-' }}
                              </span>
                            </td>
                            <td class="text-center">
                              <span >
                                {{ institucion.provincia || '-' }}
                              </span>
                            </td>
                            <td class="text-center">
                              <span >
                                {{ institucion.pais || '-' }}
                              </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>


            <br><br>

            <div class="page-header" align="center" style="margin-top: 0px">

                <b class="titulos">
                    Instituciones en espera
                </b>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div >
                        <br>

                        <table class="table table-striped table-hover table" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Institución</th>
                                <th class="text-center" style="width: 180px">Ciudad</th>
                                <th class="text-center" style="width: 180px">Dirección</th>
                                <th class="text-center" style="width: 180px">Provincia</th>
                                <th class="text-center" style="width: 180px">País</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="institucion in $parent.misInstitucionesSituacionEspera">
                                <td >
                                  <span>
                                    {{ institucion.nombre}}
                                  </span>
                                </td>
                                <td class="text-center">
                                  <span >
                                    {{ institucion.ciudad  || '-'}}
                                  </span>
                                </td>
                                <td class="text-center">
                                  <span >
                                    {{ institucion.direccion || '-' }}
                                  </span>
                                </td>
                                <td class="text-center">
                                  <span >
                                    {{ institucion.provincia || '-' }}
                                  </span>
                                </td>
                                <td class="text-center">
                                  <span >
                                    {{ institucion.pais || '-' }}
                                  </span>
                                </td>



                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>


            </div>

    </div>
    </div>
</div>
