<br>
<br>
<div class="container-fluid">
    <div class="div-form text-left" style="margin: auto;">
        <div class="page-header" align="center" style="margin-top: 0px">

            <b class="titulos">
                {{$parent.claseActual.nombre}}:<br>Alumnos
            </b>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div >
                    <br>

                    <table class="table table-striped table-hover table" style="width: 100%">
                        <thead>
                        <tr ng-show="$parent.claseActual.users_situacionAceptado.length > 0">
                            <th>Nombre</th>
                            <th class="text-center" style="width: 300px">E-mail</th>
                            <th class="text-center" style="width: 50px">Detalle</th>
                        </tr>
                        </thead>

                        <tbody >
                        <tr ng-repeat="user in $parent.claseActual.users_situacionAceptado">
                            <td >
                                  <span>
                                    {{user.apellido + " " + user.nombre}}
                                  </span>
                            </td>
                            <td class="text-center">
                                  <span >
                                    {{user.email}}
                                  </span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-default btn-xs" ng-click="ver_detallesAlumno($index)">
                                    <span class="fa fa-search" aria-hidden="true" ></span>
                                </button>

                            </td>
                        </tr>
                        <tr ng-if="$parent.claseActual.users_situacionAceptado.length < 1">
                            <td  class="text-center">
                                  <span >
                                     No existen alumnos en esta clase
                                  </span>
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>
</div>
