<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>New Web Project</title>
		<link rel="stylesheet" href="styles/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="styles/comun.css" type="text/css">
		<script src="lib/jquery-2.1.1.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="lib/angular.min.js"></script>
		<script src="js/comun.js"></script>
		<script src="js/controlador.js"></script>
	</head>
	<body class="body-gradient">
		<div align="center">
			<header></header>
		</div>

		<br>
		<br>

		<!--//fecha de nacimiento //Pais //Provincia //Escuela-->

		<div class="container-fluid" align="center">
			<div class="row">
			    
			    <div class="col-md-8" ng-app="formLogin">
			    	<div class="div-form" align="left" ng-controller="controlForm">
			    		<font class="titulos"> Crear Cuenta </font>
						<form role="form" method="post" ng-submit="crearCuenta()">
							<div class="form-group">
								<label for="nombre">Nombre: </label>
								<input type="text" class="form-control" name="nombreUsuario" ng-model="usuario.nombre" placeholder="Introduce tu nombre" required>
							</div>
							<div class="form-group">
								<label for="nombre">Apellido: </label>
								<input type="text" class="form-control" name="apellido" placeholder="Introduce tu apellido" ng-model="usuario.apellido" required>
							</div>
							<div class="form-group">
								<label for="nombre">E-mail: </label>
								<input type="text" class="form-control" name="email" ng-model="usuario.email" placeholder="Introduce tu E-mail" required>
							</div>
		
							<!--div class="form-group col-xs-3">
							<label for="nombre">Fecha de Nacimiento: </label>
							<input type="date" class="form-control" placeholder="Dia">
							</div>
							<div class="form-group col-xs-6">
							<label> &nbsp </label>
							<select class="form-control">
							<option>Enero</option>
							<option>Febrero</option>
							<option>Marzo</option>
							<option>Abril</option>
							<option>Mayo</option>
							<option>Junio</option>
							<option>Julio</option>
							<option>Agosto</option>
							<option>Septiembre</option>
							<option>Octubre</option>
							<option>Noviembre</option>
							<option>Diciembre</option>
							</select>
							</div>
							<div class="form-group col-xs-3">
							<label for="nombre"> &nbsp </label>
							<input type="date" class="form-control" placeholder="Año">
							</div-->
		
							<div class="radio">
								<font color="#b8111f"><B>Sexo:</B> </font>
								<br>
								<label>
									<input type="radio" name="sexo" value="femenino" >
									Femenino 
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="sexo" value="masculino" checked>
									Masculino 
								</label>
							</div>
							<div class="form-group">
								<label for="nombre">Nombre del Personaje: </label>
								<input type="text" class="form-control" name="nombrePersonaje" ng-model="usuario.nombrePersonaje" placeholder="Introduce el nombre de tu personaje" required>
							</div>
							<div class="form-group">
								<label for="ejemplo_password_1">Password: </label>
								<input type="password" class="form-control" name="password" ng-model="usuario.password" placeholder="Password" required>
							</div>
							<div align="right">
								<button type="submit" class="btn btn-default  btn-align">
									Crear
								</button>
							</div>
						</form>
					</div>
				</div>
				
				<div class="col-md-4" align="left">
					<div class="div-form2" align="left">
			    		<font class="titulos"> Login </font>
						<form role="form">
							<div class="form-group">
								<label for="nombre">Nombre del Personaje: </label>
								<input type="text" class="form-control" name="nombrePersonaje" ng-model="usuario.nombrePersonaje" placeholder="Introduce el nombre de tu personaje" required>
							</div>
							<div class="form-group">
								<label for="ejemplo_password_1">Password: </label>
								<input type="password" name="password" class="form-control" ng-model="usuario.password" placeholder="Password" required>
							</div>
							<div align="right">
								<button type="submit" ng-disabled="!loginUserForm.$valid" ng-click="login(user)" class="btn btn-default  btn-align">
									Login
								</button>
							</div>
						</form>
					</div>
			    	<br>
			    	<canvas width="128" height="192"></canvas>
			    </div>
		 	</div>
		 	
		 	
		</div>
		<footer></footer>
	</body>
</html>
