<div class="panel panel-default center-block" style="max-width: 600px">
    <div class="panel-body">
        <p>
            Somos un grupo de estudiantes de Ing. en Computación de la Universidad Católica de Córdoba que decidimos
            realizar un Videojuego Educativo como tesis de grado. Nos decidimos por realizar un Videojuego de Rol
            Multijugado Online(MMORPG) y lo llamamos <b>Clases y Aventuras</b>
        </p>
        <p>
            El estado actual es un motor de juego de rol multijugador  totalmente funcional, con paneles de
            administración tanto para Profesores como para Alumnos.
        </p>
    </div>
</div>