<div class="container-fluid">
	<div class="row">
		<div class="col-md-10" align="center">
			<div style="width: 800px; height: 480px; position: relative; background-image: url('../images/coliseo/Coliseo.jpg');" align="left">

			</div>
		</div>
		
		<div class="col-md-2" align="left">
			<!--ventana de amigos-->
			<div class="titulo-botonera" style="background-color: #FBF8EF; border: 2px solid #FF8000; margin: 30px 0px; height: 277px;">
				<div style="background-color: #FF8000">
					<strong> Lista de Amigos </strong>
				</div>
				Conectados
				<div style="overflow-y: auto;"></div>
				Desconectados
				<div style="overflow-y: auto;"></div>
			</div>
		</div>
	</div>
</div>
