<div class="row">
	<div class="col-md-3">
		<a href="index.html"><img src="images/init.png" width="100%" /></a>
		<div class="menu-game">
			<ul class="nav nav-tabs nav-justified">
				<li class="active">
					<a href="#">Inventario</a>
				</li>
				<li>
					<a href="#">Misiones</a>
				</li>
				<li>
					<a href="#">Logros</a>
				</li>
				<li>
					<a href="#">Talentos</a>
				</li>
				<li>
					<a href="#">Personaje</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-9">
		<div id="screen"></div>
		<div id="jsapp">
			<script type="text/javascript" src="../lib/jquery.js"></script>
			<!--script src="js/comun.js"></script-->
			<script type="text/javascript" src="../lib/melonJS.js"></script>
			<script type="text/javascript" src="../lib/plugins/debug/debugPanel.js"></script>
			<script type="text/javascript" src="../js/main.js"></script>
			<script type="text/javascript" src="../js/play.js"></script>
			<script type="text/javascript" src="../js/entities/player.js"></script>
		</div>
	</div>
</div>
