<div class="container-fluid">
	<div class="row">
		<!-- style="margin-top: -290px"-->
		<div class="col-md-10" align="center">
			<div style="width: 800px; height: 480px" align="left">

				<img class="capaSup" src="data/sprites/characters/ym/face/pepe.png"/>
				<div class="progress capaSup" style="margin-left: 100px; margin-top: 10px ;width: 200px">
					<div class="progress-bar progress-bar-striped progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
				</div>
				<div class="capaSup" style="margin-left: 100px; margin-top: 10px ;width: 200px">
					<b>Energia</b>
				</div>

				<div class="progress capaSup" style="margin-left: 100px; margin-top: 40px ;width: 200px">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
				</div>
				<div class="capaSup" style="margin-left: 100px; margin-top: 40px ;width: 200px">
					<b>Experiencia</b>
				</div>

				<img class="capaSup" src="images/iconos/btn_inventario.png" style="margin-top: 430px"/>
				<img class="capaSup" src="images/iconos/btn_mision.png" style="margin-top: 430px; margin-left: 49px"/>
				<img class="capaSup" src="images/iconos/btn_logros.png" style="margin-top: 430px; margin-left: 98px"/>
				<img class="capaSup" src="images/iconos/btn_talentos.png" style="margin-top: 430px; margin-left: 147px"/>
				<img class="capaSup" src="images/iconos/btn_personaje.png" style="margin-top: 430px; margin-left: 196px"/>
				
				<img class="capaSup" id="audio" src="images/iconos/audio_on.png" style="margin-top: 460px; margin-left: 780px" onclick="cambia_imagen()"/>
				
				<!--button type='button' class='btn capaSup' style="margin-top: 460px; margin-left: 780px"-->
					<!--span class="capaSup glyphicon glyphicon glyphicon-volume-up" style="margin-top: 460px; margin-left: 780px"></span-->
				<!--/button-->

				<div id="screen"></div>
				<div id="jsapp" class="capaInf">
					<script type="text/javascript" src="../lib/jquery.js"></script>
					<!--script src="js/comun.js"></script-->
					<script type="text/javascript" src="../lib/melonJS.js"></script>
					<script type="text/javascript" src="../lib/plugins/debug/debugPanel.js"></script>
					<script type="text/javascript" src="../js/main.js"></script>
					<script type="text/javascript" src="../js/play.js"></script>
					<script type="text/javascript" src="../js/entities/player.js"></script>
				</div>
			</div>
		</div>

		<div class="col-md-2" align="left">
			<img src="data/map/minimap/Inicio.png" width="80%" />
		</div>
	</div>
</div>
