<img class="img-center img-responsive img-rounded" src="images/principal.jpg"/>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ">
            <p class="p_espacio"> "Clases y Aventuras" es un RPG (Rol Player Game) que plantea una postura donde aprendizaje y diversión son los ejes fundamentales. Es dinámico y entretenido. Recorre el gran mundo, explora estas tierras y resuleve las misiones.</p>
        </div>
        <div class="col-md-6">
            <p class="p_espacio">Este juego fue creado por estudiantes de ingenieria en computación de la "Universidad Católica de Córdoba".</p>
        </div>
    </div>
</div>
