<div class="row">

	<div class="col-md-10">
		<div class="div-form" align="left" ng-controller="personajeController">
			<font class="titulos">Tu personaje</font>
			<form role="form" method="post" ng-submit="crearCuenta()">
				<div class="form-group">
					<label for="nombre">Nombre: </label>
					<input type="text" class="form-control" name="nombreUsuario" ng-model="nombre" placeholder="Introduce tu nombre">
					<span> {{nombre}} </span>
				</div>
				<div class="form-group">
					<label for="nombre">Tipo de pelo: </label>
					<canvas id="pelo"></canvas>
					<span> {{tipo_pelo}} </span>
				</div>
				<div class="form-group">
					<label for="nombre">Color de pelo: </label>
					<input type="text" class="form-control" name="nombreUsuario" ng-model="nombre" placeholder="Introduce tu nombre">
					<span> {{color_pelo}} </span>
				</div>
				<div align="right">
					<button type="submit" class="btn btn-default  btn-align">
						Crear
					</button>
				</div>
			</form>
		</div>
	</div>

	<div class="col-md-1">
		<canvas id="pj" width="32" height="64"></canvas>
	</div>

</div>
