<div>
    <div class="panel panel-default center-block" style="max-width: 600px">
        <div class="panel-body">
            <div class="pregF">¿Puedo tener más de un personaje?</div>
            Cada cuenta solo puede tener un personaje.
        </div>
    </div>
    <div class="panel panel-default center-block" style="max-width: 600px">
        <div class="panel-body">
            <div class="pregF">¿Por qué el otro usuario no ve lo que escribo en el chat?</div>
            Solo puedes chatear con los otros alumnos que estén subscritos a tu misma clase.
        </div>
    </div>
</div>

