<div class="container-fluid">
	<div class="row">
		<div class="col-md-1" align="left"></div>
		<div class="col-md-10" align="left" style="background-color: white; opacity: 0.8; border-radius: 15px; padding: 10px">
			<div style="opacity: 1">
				<div class="pregF">¿Puedo tener más de un personaje? </div> 
				Cada cuenta solo puede tener un personaje.
				
				<br>
				<div class="pregF">¿Por qué el otro usuario no ve lo que escribo en el chat? </div> 
				Solo puedes chatear con los otros alumnos que esten suscriptos a tu misma clase.
			</div>
		</div>
		
		<div class="col-md-1" align="left"></div>

		
	</div>
</div>
