<div>
	<div class="panel panel-default center-block" style="max-width: 640px">
		<div class="panel-body" align="justify">
			<div class="pressK" align="center">
				Juego
			</div>
			<ul style="alignment-adjust: central">
				<li>
					<b> Estado del Servidor: </b> Funcional
				</li>
				<li>
					<b> Versión: </b> 1.0
				</li>
			</ul>
		</div>
	</div>
	
	<div class="panel panel-default center-block" style="max-width: 640px">
		<div class="panel-body" align="justify">
			<div class="pressK" align="center">
				Ficha Técnica
			</div>
			<ul style="alignment-adjust: central">
				<li>
					<b> Empresa creadora del juego: </b> GUCC
				</li>
				<li>
					<b> Fecha de lanzamiento: </b> 16/Nov/2015
				</li>
				<li>
					<b> Página oficial del juego: </b> www.clasav.com
				</li>
				<li>
					<b> Email de contacto: </b> clases.aventuras@gmail.com
				</li>
				<li>
					<b> Redes Sociales: </b>
					<br>
					<img src="images/screen/f.png" style="margin: 3px;" /> <a href="https://www.facebook.com/clases.aventuras" target="_blank"> clases.aventuras </a> <br>
					<img src="images/screen/you.png" style="margin: 3px;" /> <a href="https://www.youtube.com/channel/UCJ8f1lx4mHXkSaeoyKR0nXw" target="_blank"> Youtube </a>
				</li>
				<li>
					<b> Plataformas: </b> PC/Tablet/Celular
				</li>
				<li>
					<b> Precio: </b> Gratis
				</li>
			</ul>
		</div>
	</div>

	<div class="panel panel-default center-block" style="max-width: 640px">
		<div class="panel-body" align="justify">
			<div class="pressK" align="center">
				Descripción
			</div>
			“Clases y aventuras” es un <b>MMORPG</b>, juego de rol multijugador on-line educativo multiplataforma. Atrévete a ser el héroe de tu propia aventura, a crearte un personaje y sentirte inmerso en un amplio mundo, lleno de aventuras educativas, intentando preservar los conocimientos de la humanidad para poder transmitirlos. En tu viaje podrás conocer a Rene Descartes, Pitágoras, Teano y a otros importantes matemáticos, filósofos y científicos, y también podrás compartir tus aventuras con tus amigos y compañeros de aula. Aprendé jugando.
		</div>
	</div>

	<div class="panel panel-default center-block" style="max-width: 640px">
		<div class="panel-body" align="justify">
			<div class="pressK" align="center">
				Historia
			</div>
			“Clases y aventuras” surgió como un proyecto de tesis de un grupo de estudiantes de ingeniería en computación de la Universidad Católica de Córdoba. Este juego se creó dentro dentro de un grupo de investigación denominado “Plataforma informática aplicada como complemento de la enseñanza tradicional de la educación primaria y secundaria de la provincia de córdoba. integración de las ntics en los procesos de enseñanza-aprendizaje en entornos de sistemas móviles”. La intención del proyecto era crear un software que permitiera a los alumnos aprender de una manera amena utilizando nuevas tecnologías: nodeJs, HTML5, CSS3, JavaScript, MelonJs, Angular, Bootstrap, SailsJs.
			Los desarrolladores son: Agustina Edmé Aliciardi, Ricardo Martín Marcucci, Guillermo de Cunto y Fabricio Collino.
		</div>
	</div>

	<div class="panel panel-default center-block" style="max-width: 640px">
		<div class="panel-body" align="justify">
			<div class="pressK" align="center">
				Características del sistema
			</div>
			<ul>
				<li>
					<b> Perfiles de Usuario diferenciados: </b> Administrador, Profesor y Alumno, que se inter-relacionan entre si.
				</li>
				<li>
					<b> Perfil Administrador: </b> Posibilidad de gestionar a los profesores pertenecientes a una institución.
				</li>
				<li>
					<b> Perfil Profesor: </b> Crear clases en diferentes instituciones, habilitar alumnos o suspenderlos, observar estado de los personajes de los alumnos.
				</li>
				<li>
					<b> Perfil Alumno: </b> Suscribirse a las diferentes clases, JUGAR!
				</li>
				<br>
			<div class="pressK" align="center">
				Características del Juego
			</div>
				<li>
					<b> Avatars personalizables: </b> Se puede elegir entre una amplia variedad de peinados y colores de pelo.
				</li>
				<li>
					<b> Variedad de Mapas: </b> Al suscribirse a una clase, el alumno puede acceder al mapa del mismo.
				</li>
				<li>
					<b> Multiplataforma: </b> El juego funciona en dispositivos que posean navegador y soporten HTML5 (requiere de conección a internet).
				</li>
				<li>
					<b> Multijugador: </b> Permite compartir las aventuras con compañeros y amigos.
				</li>
				<li>
					<b> Chat: </b> Permite conversar con el resto de los jugadores, y transmitir emociones a través de los emojis.
				</li>
				<li>
					<b> Gráficos: </b> Diseños 2D, estilo PixelArt. Perspectiva frontal superior.
				</li>
				<li>
					<b> Ambientación: </b> Varía de un mapa a otro, puede ser antigua, moderna, mezcla de ambos.
				</li>
				<li>
					<b> HUD: </b> Visualización de la energía, experiencia, cantidad de oro, habilitar audio. Paneles de: inventario, items equipados, logros, puntos de experiencia, misiones.
				</li>
			</ul>
		</div>
	</div>

	<div class="panel center-block" style="max-width: 640px; height: 430px">
		<div class="panel-body" align="justify" style="height: 385px">
			<div class="pressK" align="center" style="height: 50px">
				Videos
			</div>
			<iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/h8nRSI73WWU" frameborder="0"></iframe>
		</div>
	</div>

	<!--Mejorar: Aplicar Estilo de fancybox a las imagenes-->
	<div class="panel panel-default center-block" style="max-width: 640px">
		<div class="panel-body" align="justify">
			<div class="pressK" align="center">
				Imágenes y ScreenShots
			</div>
			<a href="images/screen/3creacionPj.jpg"><img class="screenS" src="images/screen/3mini.jpg" /></a>
			<a href="images/screen/4pantallaInicial.jpg"><img class="screenS" src="images/screen/4mini.jpg" /></a>
			<a href="images/screen/5mapaMatematetica.jpg"><img class="screenS" src="images/screen/5mini.jpg" /></a>
			<a href="images/screen/6misionCoordenadas.jpg"><img class="screenS" src="images/screen/6mini.jpg" /></a>
		</div>
	</div>

	<div class="panel panel-default center-block" style="max-width: 640px">
		<div class="panel-body">
			<div class="pressK">
				Logos e Iconos
			</div>
			<img src="images/screen/logo_dragon.png" />
			<br />
			<br />
			<br />
			<img src="images/screen/logo_clasav.png" />
		</div>
	</div>

	<div class="panel panel-default center-block" style="max-width: 640px">
		<div class="panel-body" align="justify">
			<div class="pressK" align="center">
				Premios y Reconocimientos
			</div>
			“Clases y aventuras” fue presentado en diversos congresos:
			<ul>
				<li>
					“JAIIO - Jornadas Argentinas de Informática 2015” en el “STS - Simposio de Tecnología y Sociedad” en el paper <a href="http://44jaiio.sadio.org.ar/sites/default/files/sts44-53.pdf" target="_blank"> “Videojuegos como parte del aprendizaje”.</a>
				</li>
				<li>
					“14° Encuentro Internacional de derecho ambiental 2015” en el paper “Herramienta de Educación Ambiental”.
				</li>
				<li>
					“CIVE - Congreso Internacional de Videojuegos y Educación 2015”
				</li>
			</ul>
			Además, se mostró en importantes eventos de videojuegos de argentina:
			<ul>
				<li>
					“EVAX Córdoba - Exposición de Videojuegos de Argentina - Córdoba 2015”
				</li>
			</ul>
		</div>
	</div>

	<div class="panel panel-default center-block" style="max-width: 640px">
		<div class="panel-body" align="justify">
			<div class="pressK" align="center">
				Links Adicionales
			</div>
			Podes jugar “Clases y Aventuras” ingresando a:
			<ul>
				<li>
					<a href="www.clasav.com" target="_blank"> www.clasav.com </a>
				</li>
				<li>
					<a href="http://clases-y-aventuras.herokuapp.com/" target="_blank"> http://clases-y-aventuras.herokuapp.com/ </a>
				</li>
			</ul>
			Podés enterarte de las últimas novedades en:
			<ul>
				<li>
					<a href="https://www.facebook.com/clases.aventuras" target="_blank"> https://www.facebook.com/clases.aventuras </a>
				</li>
			</ul>
		</div>
	</div>

	<div class="panel panel-default center-block" style="max-width: 640px">
		<div class="panel-body" align="justify">
			<div class="pressK" align="center">
				Sobre los Desarrolladores
			</div>
			<img class="imgDev" src="images/screen/marku.png" /> <b> Ricardo Martín Marcucci </b>
			<br>
			<img class="imgDev" src="images/screen/agus.png" /> <b> Agustina Edmé Aliciardi </b>
			<br>
			<img class="imgDev" src="images/screen/gdc.png" /> <b> Guillermo De Cunto </b>

		</div>
	</div>

	<div class="panel panel-default center-block" style="max-width: 640px">
		<div class="panel-body" align="justify">
			<div class="pressK" align="center">
				Creditos
			</div>
			<ul>
				<li>
					Agustina Edmé Aliciardi
				</li>
				<li>
					Ricardo Martín Marcucci
				</li>
				<li>
					Guillermo De Cunto
				</li>
				<li>
					Maria Alejandra Bosio
				</li>
				<li>
					Fabricio Collino
				</li>
			</ul>
		</div>
	</div>

	<div class="panel panel-default center-block" style="max-width: 640px">
		<div class="panel-body">
			<div class="pressK">
				Contacto
			</div>
			clases.aventuras@gmail.com
		</div>
	</div>

</div>

